.logo
    text-decoration: none !important
    text-transform: none
    font-weight: bold
    font-size: px2rem(30)
a.logo
    background: url(/assets/images/papier.png) lightgray 50% / cover no-repeat
    padding: 12px
.hero
    padding-bottom: $spacing1
    .container
        .content
            padding-top: 0

.block-posts
    article
        .post-content
            p
                display: none
        .post-meta
            display: none

.breadcrumb-container,
.post-sidebar,
.block-pagination
    display: none
h2
    display: none
body:not(.full-width) .document-content .heading h2, 
body:not(.full-width) .document-content .block .block-content
    padding-left: 0

.block-gallery--carousel
    background: none !important
    .block-content
        .images
            @include media-breakpoint-up(desktop)
                @include grid(3)
                grid-gap: 1rem 4rem
    figure
        figure
        margin-bottom: 1rem
        picture
            margin-bottom: 0
    picture
        img
            width: 80px
            margin-bottom: 0

    figcaption
        align-self: center
        margin-left: $spacing0

    a.glightbox
        display: flex !important
        flex-direction: row
    figure > a
        margin-bottom: 0
        height: auto

.goverlay,
.glightbox-mobile .goverlay
    background: white
.glightbox-clean 
    .gclose,
    .gprev,
    .gnext
        &, &:hover
            background: none
            color: black
        svg
            filter: invert(100%)

footer#document-footer .container
    padding-bottom: 0
    justify-content: end
    text-align: right
footer#document-footer .container > * + *
    margin-top: 0

header#document-header nav button[type="button"] 
    display: none

header#document-header nav
    padding-top: calc(2.75rem / 2)
    @include media-breakpoint-up(desktop)
        padding-top: 4rem

footer#document-footer
    margin-top: $spacing4